<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.MemberMapper">
	<!-- insert, update, delete, select -->
	
	<insert id="insertMember" parameterType="MemberDTO">
		INSERT INTO MEMBER
		(
			MEMBER_ID,
			MEMBER_NAME,
			GENDER,
			ID,
			PASSWORD
		)
		VALUES
		(
			MEMBER_SEQ.NEXTVAL,
			#{member_name},
			#{gender},
			#{id},
			#{password}
		)
	</insert>
	
	<select id="getAllMember" resultType="MemberDTO">
		SELECT MEMBER_ID,
       		   MEMBER_NAME,
       		   DECODE(GENDER, '0', '남자', '여자') AS GENDER,
       		   ID,
       		   PASSWORD
  	      FROM MEMBER
	</select>
	
	<select id="getMemberOne" parameterType="string" resultType="MemberDTO">
		SELECT MEMBER_ID,
		       MEMBER_NAME,
		       GENDER,
		       ID,
		       PASSWORD
		  FROM MEMBER
		 WHERE MEMBER_ID = #{memberId}
	</select>
	
	<delete id="deleteMember" parameterType="string">
		DELETE FROM MEMBER WHERE MEMBER_ID=#{memberId}
	</delete>
	
	<update id="updateMember" parameterType="MemberDTO">
		UPDATE MEMBER
		   SET MEMBER_NAME = #{member_name},
		       ID = #{id},
		       PASSWORD = #{password},
		       GENDER = #{gender}
		 WHERE MEMBER_ID = #{member_id}
	</update>
	
	<select id="getLogin" parameterType="java.util.HashMap" resultType="MemberDTO">
		SELECT MEMBER_ID,
		       MEMBER_NAME,
		       PASSWORD,
		       ID,
		       GENDER
  		  FROM MEMBER
 		 WHERE ID = #{id} 
 		   AND PASSWORD=#{password}
	</select>
	
	<select id="getIdChk" parameterType="MemberDTO" resultType="string">
		
		SELECT COUNT(MEMBER_ID)
		FROM MEMBER
		WHERE ID = #{id}
		
	</select>
	
	<select id="getSearchList" parameterType="MemberDTO" resultType="MemberDTO">
		SELECT MEMBER_ID,
       		   MEMBER_NAME,
       		   DECODE(GENDER, '0', '남자', '여자') AS GENDER,
       		   ID,
       		   PASSWORD
  	      FROM MEMBER
  	      WHERE ID = #{id}
	</select>
	
</mapper>





