<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.UserMapper">
	<!-- insert, update, delete, select -->
	
	<insert id="insertUser" parameterType="UserDTO">
		INSERT INTO USR_TABLE
		(
			USR_ID,
			USR_PASSWORD,
			USR_NAME,
			USR_HOBBY,
			USR_AGE,
			USR_JOB
		)
		VALUES
		(
			#{usr_id},
			#{usr_password},
			#{usr_name},
			#{usr_hobby},
			#{usr_age},
			#{usr_job}
		)
	</insert>
	
	<select id="login" parameterType="UserDTO" resultType="UserDTO">
			SELECT  *
      		FROM USR_TABLE
      		WHERE USR_ID=#{usr_id}  AND USR_PASSWORD=#{usr_password}
      		
	</select>

	<select id="getUserListTotalCount" resultType="java.lang.Integer">
		SELECT 
			COUNT(0)
			AS CNT
			FROM USER_INFO
	</select>
	
	
	<select id="getUserList" resultType="UserDTO">
	SELECT 
		USR_SEQ_NO as usr_seq_no,
         		USR_ID as usr_id,
         		PASSWORD as password,
         		USR_NAME as usr_name,
       			USR_NICKNAME as usr_nickname,
        		USR_BIRTHDATE as usr_birthdate
	FROM USER_INFO
	</select>

	<select parameterType="PagingDTO" id="getUserList2" resultType="UserDTO">
		SELECT
			USR_SEQ_NO as usr_seq_no,
         		USR_ID as usr_id,
         		PASSWORD as password,
         		USR_NAME as usr_name,
       			USR_NICKNAME as usr_nickname,
        		USR_BIRTHDATE as usr_birthdate
		FROM (
		SELECT
		ROWNUM AS RNUM
		, A.*FROM USER_INFO A
		ORDER BY USR_SEQ_NO DESC) T
		WHERE RNUM BETWEEN
		(( #{page_num}-1) * #{page_count} + 1 ) AND ( #{page_num} * #{page_count} )
	</select>
	

</mapper>
