<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.UserMapper">
	<!-- insert, update, delete, select -->
	
	<insert id="insertUser" parameterType="UserDTO">
		INSERT INTO usr_table
		(
			usr_id,
			usr_password,
			usr_name,
			usr_hobby,
			usr_age,
			usr_job
		)
		VALUES
		(
			#{usr_id},
			#{usr_password},
			#{usr_name},
			#{usr_hobby},
			#{usr_age},
			#{usr_job}
		)
	</insert>
	
	<select id="login" parameterType="UserDTO" resultType="UserDTO">
			SELECT  *
      		FROM usr_table
      		WHERE usr_id=#{usr_id}  AND usr_password=#{usr_password}
      		
	</select>

</mapper>
